/* cuerpo de la app */
.body {
    background-color: #eee;
}

/* caja principal que guarda todo */
.box {
    font-family: Arial,Helvetica,sans-serif;
    margin: 0 auto;
    position: relative;
    top: 10px;
    font-size: 14px;
    padding: 20px;
    color: #444;
    background: #fff;
    left: 0;
    display: block;
    width: 1000px;
    height: 400px;
    overflow: scroll;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

/* partes de las consultas */
.partes {
    color: #333;
}

/* titulos de las partes */
.partes h3 {
    font-size: 20px;
}

/* grupos de checkbox */
.group-checkbox {
    background-color: #eee;
    padding: 15px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px 15px 15px 15px;
}

ul.checkbox  { 
    margin: 0; 
    padding: 0; 
    margin-left: 20px; 
    list-style: none; 
} 

ul.checkbox li { 
    border: 1px transparent solid; 
    display:inline-block;
    width:12.3em;
} 

.simple-pequeño {
    width: 65px;
}

.multi-mediano {
    width: 150px;
}

.simple-mediano {
    width: 150px;
}

.multi-grande {
    width: 400px;
}

.agr-eli {
    /* aqui viene el estilo de los botones +,-,x */
}

/* Consultas.html */
/* tabla con los resultados */
table {
    width:100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 3px;
    text-align: left;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
    color: black;
}

table#t01 tr:nth-child(odd) {
    background-color:#fff;
    color: black;
}

table#t01 th	{
    padding: 5px;
    background-color: black;
    color: white;
}





