{% extends "base.html" %}

{% comment %} 
{% endcomment %}

{% block titulo %} 
    Mapas
{% endblock %}

{% block encabezado %}
{% endblock %}

{% block navegacion %}
    | <a href="{% url "homepage" %}"> Volver Al Inicio </a>
{% endblock %}

{% block contenido %}

    
        <input class="coordenadas" id="coordenadas" hidden="true" value="{{coordenadas}}">
        <input class="coords" id="coords" hidden="true" value="{{coords}}">
        <input class="centro" id="centro" hidden="true" value="{{centro}}">
        <input class="datos" id="datos" hidden="true" value="{{datos}}">
        <div align="center">
            <div id="map"></div>
        </div>

    <script>

        var path0 = $('#coords').val()
        var marks = JSON.parse(path0)
        var path = $('#coordenadas').val();
        var marcas = JSON.parse("[" + path + "]");
        var centro = $('#centro').val();
        var cent = JSON.parse(centro);
        var datos = $('#datos').val();
        var datos_mid = datos.replace(/'/g,'');
        var datos_final = JSON.parse(datos_mid)
        var icons = []

        for (i = 0; i < datos_final.length; i++) { 
            if (datos_final[i][0] == 'OPOSITOR') {
                icons[i] = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|0000FF'
            } else if (datos_final[i][0] == 'CHAVISTA') {
                icons[i] = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FF0000'
            } else if (datos_final[i][0] == 'OPOSITOR LIGHT') {
                icons[i] = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|8888FF'
            } else {
                icons[i] = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FF8888'
            }
        }

        var map = new GMaps({
            div: '#map',
            lat: cent[0],
            lng: cent[1]
        });

        for (i = 0; i < marks.length; i++) { 
            map.addMarker({
                lat: marks[i][0],
                lng: marks[i][1],
                title: 'Centro: ' + datos_final[i][1] + ', ' + datos_final[i][2] + '\nElectores dominantes: ' + datos_final[i][0] + ' en cantidad de: ' + datos_final[i][3],
                icon: icons[i],
            });
        }

    </script>

{% endblock %}