{% extends "base.html" %}

{% comment %} 
{% endcomment %}

{% block titulo %} 
    Resultados
{% endblock %}

{% block encabezado %}
{% endblock %}

{% block navegacion %}
    | <a class="limpiarGlobales" href="{% url 'homepage' %}"> Volver Al Inicio </a>
{% endblock %}

{% block contenido %}

    <div id="box" class="box">

        <div align="right">
            <a href="{% url 'homepage' %}">
                <input class="limpiarGlobales btn btn-primary" id="hacer-otra-consulta" name="hacer-otra-consulta" type="button" value="Realizar otra consulta"/>
            </a>
            <a href="{% url 'asistente_de_consultas:exportar_csv' %}">
                <input class="btn btn-primary" id="descargar-resultados" name="descargar-resultados" type="button" value="Descargar en formato CSV"/>
            </a>
        </div>

        <p>Los resultados de su consulta son: </p>
        <table class="table table-stripped table-bordered" id="t01">
            <thead>
                <tr>
                    {% for a in atributos %}
                        <th>{{ a }}</th>
                    {% endfor %}
                </tr>
            </thead>    
            </tfoot>
                {% for r in resultados_pag %}
                    <tr>
                        {% for s in r %}
                            <td>{{ s }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tfoot>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if resultados_pag.has_previous %}
                    <a href="?page={{ resultados_pag.previous_page_number }}">Anterior</a>
                {% endif %}
                <span class="current">
                    - Página {{ resultados_pag.number }} de {{ resultados_pag.paginator.num_pages }}. -
                </span>
                {% if resultados_pag.has_next %}
                    <a href="?page={{ resultados_pag.next_page_number }}">Siguiente</a>
                {% endif %}
            </span>
        </div>

        <script>

        </script>

    </div>

{% endblock %}



