{% include "base.html" %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<p>Parroquia: </p>
    <h1>{{ parroquia.nombre }}</h1>
<p>Perteneciente al Municipio: </p>
	<h2>{{ parroquia.id_mun.nombre }}</h2> 
<p>del Estado: </p>
	<h3>{{ parroquia.id_mun.id_edo.nombre }}</h3>
<p>Y cuyos Centros son: </p>
	<form action="{% url 'asistente_de_consultas:vote' parroquia.id %}" method="post">
	{% csrf_token %}
	{% for centro in parroquia.centro_set.all %}
		<input type="radio" name="centro" id="centro{{ forloop.counter }}" value="{{ centro.id }}" />
		<label for="centro{{ forloop.counter }}">{{ centro.nombre }}</label><br />
	{% endfor %}
	<input type="submit" value="Escoger" />
	</form>



