{% extends "base.html" %}

{% load staticfiles %}

{% comment %} 
{% endcomment %}

{% block titulo %} 
    ADC MEG - Inicio
{% endblock %}

{% block encabezado %}

    <link rel="stylesheet" type="text/css" href="{% static 'asistente_de_consultas/css/style.css' %}" />
    <script type="text/javascript" src="{% static 'asistente_de_consultas/js/funciones.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'asistente_de_consultas/css/bootstrap-multiselect.css' %}"/>
    <script type="text/javascript" src="{% static 'asistente_de_consultas/js/bootstrap-multiselect.js' %}"></script>

{% endblock %}

{% block navegacion %}
{% endblock %}

{% block titulo_body %}
    Asistente de Consultas
{% endblock %}

{% block contenido %}

    {% if user.is_authenticated  %}
        <div class="box" align=center>
            <h2> Bienvenido <b> {{ user.username }} </b></h2>
            </br>
            <p> Indica la opción que quieras realizar: </p>
            </br>
            <a href="{% url "asistente_de_consultas:atributos" %}">
                <input class="btn btn-primary" type="button" value="Realizar consulta a través del asistente"/>
            </a>
            <a href="{% url "asistente_de_consultas:queries" %}">
                <input class="btn btn-primary" type="button" value="Realizar consulta directa en SQL"/>
            </a>
            </br>
        </div>
    {% else %}
        <!-- Si el usuario no esta logeado, se redirige automaticamente a la pagina de login -->
        <META http-equiv="refresh" content="0;{% url "login" %}">
    {% endif %}

{% endblock %}


