{% extends "base.html" %}

{% comment %} 
{% endcomment %}

{% block titulo %} 
    Queries
{% endblock %}

{% block encabezado %}
{% endblock %}

{% block navegacion %}
    | <a class="limpiarGlobales" href="{% url "homepage" %}"> Volver Al Inicio </a>
{% endblock %}

{% block contenido %}

    <div class="box" id="box">
        <form id="queries-form" action="{% url 'asistente_de_consultas:consultas_queries' %}" method="post">
            {% csrf_token %}
            <div align="center">
                <label> Introduce tu Query: </label></br></br>
                <textarea class="form-control" id="query" name="query" rows="10" cols="60"></textarea><br>
                <div id="boton-continuar" align="center">
                    <input class="btn btn-primary" id="continuar" name="continuar" type="button" value="Hacer Consulta"/>
                </div>
            </div>

            <script>

                $('#continuar').on('click', function(){
                    query = $('#query').val();
                    if (query == "") {
                        alert("El query no debe estar vacio");
                    } else { 
                        if (query.indexOf("select") == -1) {
                            alert("El query debe contener la palabra 'select'");
                        } else {
                            if (query.indexOf("from") == -1) {
                                alert("El query debe contener la palabra 'from'");
                            } else {
                                $('#queries-form').submit();
                            }
                        }
                    }
                });

            </script>

        </form>
    </div>

{% endblock %}
