{% extends "base.html" %}

{% load staticfiles %}

{% comment %} 
{% endcomment %}

{% block titulo %} 
    Inicio
{% endblock %}

{% block encabezado %}
{% endblock %}

{% block navegacion %}
{% endblock %}

{% block contenido %}

    {% if user.is_authenticated  %}
        <div class="box" align=center>
            <h2> Bienvenido <b> {{ user.username }} </b></h2>
            </br>
            <p> Indica la opción que quieras realizar: </p>
            </br>
            <a href="{% url "asistente_de_consultas:atributos" %}">
                <input class="btn btn-primary" type="button" value="Realizar consulta a través del asistente"/>
            </a>
            <a href="{% url "asistente_de_consultas:queries" %}">
                <input class="btn btn-primary" type="button" value="Realizar consulta directa en SQL"/>
            </a>
            </br></br>
            <a href="{% url "asistente_de_consultas:muestras" %}">
                <input class="btn btn-primary" type="button" value="Utilizar el generador de muestras"/>
            </a>
            <a href="{% url "asistente_de_consultas:cargas" %}">
                <input class="btn btn-primary" type="button" value="Cruzar cédulas a partir de un archivo"/>
            </a>
            </br>
        </div>
    {% else %}
        <!-- Si el usuario no esta logeado, se redirige automaticamente a la pagina de login -->
        <META http-equiv="refresh" content="0;{% url "login" %}">
    {% endif %}

{% endblock %}
